<style>
  div.a {
    text-align: center;
  }
</style>
<div class="a">
  <br />
  <h3>Welcome User!</h3>
  <p>Here are your User Details</p>
</div>

<style>
  body {
    text-align: center;
  }
</style>

<div id="wrapper">
  <table
    align="center"
    cellspacing="2"
    cellpadding="5"
    id="data_table"
    border="1"
  >
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Credit Card Number</th>
      <th></th>
    </tr>

    <tr id="row1">
      <td id="first_name">Name</td>
      <td id="last_name">Name</td>
      <td id="email">@hcl.com</td>
      <td id="adress">1000</td>
      <td id="payment">1234 1234 1234 1234</td>
      <td id="action_row1">
        <input
          type="button"
          id="edit_button1"
          value="Edit"
          class="edit"
          onclick="edit_row('1')"
        />
        <input
          type="button"
          id="save_button1"
          value="Save"
          class="save"
          onclick="save_row('1')"
        />
      </td>
    </tr>
  </table>
</div>
