<h1 class="pt-5">All Products</h1>
<h5>Check out all the awesome products available now!</h5>
<hr />

<table
  cellpadding="0"
  cellspacing="0"
  class="datatable table table-striped table-bordered"
>
  <thead>
    <tr>
      <th>Photo Thumb</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Condition</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Guitar Photo</td>
      <td>Guitar</td>
      <td>Instrument</td>
      <td>Well-Used</td>
      <td>$100</td>
    </tr>
  </tbody>
</table>
