<h1 class="pt-5">All Songs</h1>
<h5>Check out all the awesome songs available now!</h5>
<hr />

<div class="row mb-3">
  <div class="dropdown col-md-2">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{itemsPP}} items per page
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="setItemsPerPage(5)">5</a>
      <a class="dropdown-item" (click)="setItemsPerPage(10)">10</a>
      <a class="dropdown-item" (click)="setItemsPerPage(15)">15</a>
    </div>
  </div>

  <div class="col-md-4 offset-md-6">
    <input id="search" type="text" class="form-control bg-light" name="songTitle" [(ngModel)]="songTitle" (ngModelChange)="Search()" placeholder="&#x266C; Search your favorite song &#x266B;" size="4">
  </div>

</div>



<table class="table table-bordered">
  <thead>
    <tr>
      <th (click)="sort('title')">Title&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
      <th (click)="sort('artist')">Artist&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
      <th (click)="sort('price')">Price &nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
      <th (click)="sort('category')">Category&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songs | orderBy: key: reverse |  paginate: {itemsPerPage:itemsPP,currentPage:p};">
      <td>{{song.title}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.price}}</td>
      <td>{{song.category}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>

<!-- | paginate: {itemsPerPage:2,curentPage:p}; -->
